<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictions | sss_election_model</title>
    
    <link rel='stylesheet' href='/static/css/index.css'>
    <link rel='stylesheet' href='/static/css/animations.css'>
    <link rel='stylesheet' href='/static/css/hamburgers.min.css'>
    <link rel='stylesheet' href='/static/css/navbar.css'>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id='navbar'>     
        <div id='logo'>
            <p>sss_election_model</p>
        </div>
    </div>

    <div id='menu'>
        <div id='hamburger' class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </div>
        <div id='menu-content'>
            <div class='menu-item'>
                <p>Home</p>
            </div>
            <div class='menu-item'>
                <p>About</p>
            </div>
            <div class='menu-item'>
                <p>Methodology</p>
            </div>
        </div>
    </div>

    <div id='landing'>
        <h1 id='candidate'><span class='w-400'>Joe Biden</span></h1>
        <h2><span class='w-200'>is</span></h2>
        <h2 id='degree'>likely</h2>
        <h2 id='outcome' class='w-200'>to win.</h2>
    </div>

    <div id='landingbg'></div>

    <div id='mainstats'>
        <div id='candidates'>
            <div id='biden'>
                <h3>Joe Biden</h3>
                <p id="party">(D)</p>
                <br>
                <img src="static/media/biden.jpg" id="image" width=125px height=125px>
                <p id="win-prob">50.1%</p>
            </div>
            <div id='trump'>
                <h3>Donald Trump</h3>
                <p id="party">(R)</p>
                <br>
                <img src="static/media/trump.jpg" id="image" width=125px height=125px>
                <p id="win-prob">49.9%</p>
            </div>
        </div>
        <div id='electoral' class='stats-section'>
            <h3>Electoral College</h3>
        </div>
        <div id='popular' class='stats-section'>
            <h3>Popular Vote</h3>
        </div>
        <div id='updated'>
            <p>Updated 9/12 2pm EST</p>
        </div>
    </div>

    <div id="electoral-map">
        <div id="heading">Electoral Map</div>
    </div>
    <div id="time-change">
        <div id="headings">
            <div class="heading" style="border-right: 3px solid rgb(255, 255, 255);">Chance of Winning</div>
            <div class="heading non-active" id="middle">Electoral Votes</div>
            <div class="heading non-active" style="border-left: 3px solid rgb(255, 255, 255);">Popular Vote</div>
        </div>
    </div>

    <script type='text/javascript' src='/static/js/load_data.js'></script>
    <script type='text/javascript' src='/static/js/ui.js'></script>
</body>
</html>