.fadeOn {
    animation: fadeOn 0.2s;
}

.fadeIn {
    animation: fadeIn 0.3s both;
}

@keyframes fadeOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }

    to {
        pointer-events: all;
        cursor: pointer;
        opacity: 0.4;
    }
}


@keyframes closeMenu {
    from {
        left: 0px;
        background-color: var(--card-bg);
    }
    to {
        left: -140px;
        background-color: transparent;
    }
}

@keyframes openMenu {
    from {
        background-color: transparent;
        left: -140px;
    }
    to {
        background-color: var(--card-bg);
        left: 0px;
    }
}