/******************************
 Generic global styling
******************************/


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    position: relative;
    min-height: 100vh;
    text-align: center;
    font-family: "Fira Code";
    background-color: #d7edff;
}

#degree {
    font-size: 55px;
    color: white;
}

#landing {
    color: rgb(0, 0, 0);
    padding: 40px 0 130px 0;
    z-index: 1;
    position: relative;
}

#landingbg {
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 800px;
    position: absolute;
    background: linear-gradient(180deg, rgb(78, 105, 255) 0%, transparent 100%);
}

#degree {
    font-style: italic;
    text-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

.w-200 {
    font-weight: 200;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 45px;
}




/***************************
 Graph section styling
***************************/

#time-change {
    display: inline-block;
    width: 1000px;
    height: 600px;
    background-color: var(--section-bg);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
    margin: 100px auto;
    margin-top: 0px;
}

#ev-histogram {
    display: inline-block;
    width: 1000px;
    height: 1100px;
    background-color: var(--card-bg);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
    margin: 50px auto;
    margin-top: 0px;
}

#ev-histogram .heading {
    background-color: var(--dem-bg);
    height: 80px;
    font-size: 40px;
    padding-top: 30px;
    color: white;
}

.tabs {
    display: block;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
}

#headings-container {
    display: inline-table;
    width: 1000px;
    margin: 0px;
    background-color: #d7edff;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
}

#headings {
    display: table-row;
    height: 100px;
    font-size: 25px;
    border-color: #d7edff;
    background-color: var(--rep-bg);
    color: white;
}

#headings .heading {
    padding-top: 30px;
    text-align: center;
    display: table-cell;
    width: 800px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#headings .spaces {
    display: table-cell;
    width: 30px;
    background-color: #d7edff;
}

#headings .non-active {
    cursor: pointer;
    border-bottom: 6px solid #d7edff;
    border-top: 10px solid #d7edff;
}

#headings .non-active:hover {
    background-color: rgba(131, 131, 131, 0.1);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 20px rgba(255,255,255,0.4);
}


/******************************
 Electoral map and svg styling
******************************/

#electoral-map {
    display: block;
    width: 1000px;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
    margin: 50px auto;
}

#electoral-map .heading {
    background-color: var(--dem-bg);
    height: 80px;
    font-size: 40px;
    padding-top: 30px;
    color: white;
}

#map-wrapper {
    padding: 50px;
}

path {
    stroke-width: 3;
    stroke: var(--card-bg);
    stroke-linecap: round;
    stroke-miterlimit: 1;
    z-index: 9;
    transition: 0.3s;
}

path:hover {
    stroke: white;
    z-index: 3;
}

#map-timeline {
    -webkit-appearance: none;
    margin-right: 10px;
    height: 12px;
    background: transparent;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    background-color: var(--rep-bg);
    padding: 7px 0px;
    width: 80%;
    margin-top: 30px;
}

#bar-timeline {
    -webkit-appearance: none;
    margin-right: 10px;
    height: 12px;
    background: transparent;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    background-color: var(--rep-bg);
    padding: 7px 0px;
    width: 80%;
    margin-top: 30px;
}

.timeline {
    color: white;
    font-size:35px;
}

.today-container {
    width: 80%;
    height: 20px;
}

#line-timeline-today {
    float: right;
    color: white;
    right: 7%;
    font-size: 20px;
    position: absolute;
}

#bar-timeline-today {
    float: right;
    color: white;
    right: 5%;
    font-size: 20px;
    position: absolute;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border: 3px solid white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border: 3px solid white;
    border-radius: 100%;
    cursor: pointer;
}


/*******************************
    Mainstats section css
********************************/

#mainstats {
    display: inline-block;
    width: 620px;
    z-index: 1;
    position: relative;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: 2px 2px 7px rgba(0,0,0,0.4);
    margin-bottom: 75px;
    padding: 40px;
    padding-bottom: 30px;
    color: white;
}

#headers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#candidates #biden {
    text-align: left;
}

#candidates #trump {
    text-align: right;
}

#img-stats-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#img-stats-wrapper img {
    margin-top: 20px;
    width: 100px;
    border-radius: 5px;
    vertical-align: middle;
    border: 6px solid;
    border-radius: 50%;
}

#img-stats-wrapper img.biden {
    border-color: var(--dem-bg);
}

#img-stats-wrapper img.trump {
    border-color: var(--rep-bg);
}

.win-prob {
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    font-weight: 400;
}

.win-prob.biden {
    /*Can probably devise better spacing method, i.e. setting bar width*/
    margin-right: 100px;
}

#candidates {
    height: 230px;
    /* padding: 25px; */
    padding-bottom: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: -moz-fit-content;
}

#candidates .name {
    font-weight: 600;
    font-size: 30px;
    display: block;
}

#candidates .party {
    font-weight: 100;
    font-size: 20px;
}

#chances-bar-wrap {
    margin: 0 auto;
}

.stats-bar {
    display: block;
    height: 36px;
    border-radius: 100px;
    margin-top: 18px;
    overflow: hidden;
}

.stats-segment {
    width: calc(50% - 2px);
    height: 100%
}

.stats-segment.biden {
    float: left;
    background-color: var(--dem-bg);
    border-right: 1px solid var(--card-bg);
}

.stats-segment.trump {
    float: right;
    background-color: var(--rep-bg);
    border-left: 1px solid var(--card-bg);
}

.stats-section h4 {
    display: inline;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    margin: 12px;
}

.stats-section {
    margin-top: 50px;
}

.stats-section span {
    font-size: 25px;
    padding: 10px;
}

.stats-section span.biden {
    float: left;
}

.stats-section span.trump {
    float: right;
}

#electoral {
    margin-top: 10px;
}

#updated {
    padding: 15px;
    padding-top: 50px;
    font-size: 18px;
    font-style: italic;
}


#chart {
    display: inline-block;
    position: relative;
}