* {
    margin: 0;
    padding: 0;
}

.w-200 {
    font-weight: 200;
}

h1 {
    font-size: 36px;
}

body {
    min-height: 100vh;
    text-align: center;
    font-family: "Fira Code";
}

#landing {
    /* background-color: rgba(78, 105, 255, 0.466); */
    color: white;
    padding: 40px 0 80px 0;
    z-index: 1;
    position: relative;
}

#landingbg {
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 600px;
    position: absolute;
    background: linear-gradient(180deg, rgba(78, 105, 255, 0.692) 0%, rgba(78, 105, 255, 0.596) 20%, rgba(0,0,0,0) 100%);
}

.underline {
    display: inline-block;
    z-index: 1;
    background-color: rgba(78, 105, 255, 0.692);
    width: 150px;
    height: 5px;
    position: relative;
}

#degree {
    font-style: italic;
    text-shadow: 2px 2px 0px rgba(0,0,0,.2);
}


#mainstats {
    display: inline-block;
    width: 800px;
    z-index: 1;
    position: relative;
    border-radius: 8px;
    /* border: 2px solid rgba(0, 0, 0, 0.6); */
    background: linear-gradient(90deg, rgb(110, 144, 255) 0%, rgb(253, 133, 133) 100%);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
               -2px -2px 6px rgba(255,255,255,0.4);
    margin-bottom: 75px;
}

#candidates #biden {
    float: left;
    text-align: left;
}

#image {
    margin: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

#win-prob {
    position: absolute;
    font-size: 50px;
    font-weight: 200;
    top: 150px;
    color:  rgb(255,255,255);
}

#trump #win-prob {
    right: 175px;
}

#biden #win-prob {
    left: 175px;
}

#candidates #trump {
    float: right;
    text-align: right;
}

#candidates {
    font-family: "Fira Code";
    height: 230px;
    padding: 18px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
    border-bottom: 2px solid rgba(255, 255, 255, 0.507);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

#candidates h3 {
    font-weight: 500;
    font-size: 40px;
}

#candidates #party {
    font-weight: 100;
    font-size: 20px;
}

.stats-section h3 {
    font-family: "Fira Code";
    font-style: italic;
    font-weight: 600;
    padding: 18px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.507);
}

#updated {
    padding: 10px;
    font-family: "Fira Code";
    font-size: 15px;
    font-style: italic;
}

#electoral-map {
    display: inline-block;
    width: 1000px;
    height: 750px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
    margin-bottom: 50px;
}

#electoral-map #heading {
    background-color: rgb(110, 144, 255);
    height: 80px;
    font-size: 40px;
    padding-top: 30px;
    color: white;
}

#time-change {
    display: inline-block;
    width: 900px;
    height: 600px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
    margin-bottom: 50px;
}

#headings {
    display: table-row;
    height: 100px;
    font-size: 25px;
    background-color: rgba(110, 144, 255);
    color: white;
}

#headings .heading {
    padding-top: 30px;
    /* padding-left: 10px; */
    text-align: center;
    display: table-cell;
    width: 800px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#headings #middle {
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgba(255, 255, 255);
}

#headings .non-active {
    cursor: pointer;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
    border-top: 10px solid rgba(255, 255, 255);
}

#headings .non-active:hover {
    background-color: rgba(0, 0, 255, 0.37);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 20px rgba(255,255,255,0.4);
}