* {
    margin: 0;
    padding: 0;
}

.w-200 {
    font-weight: 200;
}

h1 {
    font-size: 36px;
}

body {
    min-height: 100vh;
    text-align: center;
    font-family: "Fira Code";
}

#landing {
    /* background-color: rgba(78, 105, 255, 0.466); */
    color: white;
    padding: 40px 0 80px 0;
    z-index: 1;
    position: relative;
}

#landingbg {
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 600px;
    position: absolute;
    background: linear-gradient(180deg, rgba(78, 105, 255, 0.692) 0%, rgba(78, 105, 255, 0.596) 20%, rgba(0,0,0,0) 100%);
}

.underline {
    display: inline-block;
    z-index: 1;
    background-color: rgba(78, 105, 255, 0.692);
    width: 150px;
    height: 5px;
    position: relative;
}

#degree {
    font-style: italic;
    text-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

#electoral-map {
    display: inline-block;
    width: 1000px;
    height: 750px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
    margin-bottom: 50px;
}

#electoral-map #heading {
    background-color: rgb(110, 144, 255);
    height: 80px;
    font-size: 40px;
    padding-top: 30px;
    color: white;
}

#time-change {
    display: inline-block;
    width: 900px;
    height: 600px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 6px rgba(255,255,255,0.4);
    margin-bottom: 50px;
}

#headings {
    display: table-row;
    height: 100px;
    font-size: 25px;
    background-color: rgba(110, 144, 255);
    color: white;
}

#headings .heading {
    padding-top: 30px;
    /* padding-left: 10px; */
    text-align: center;
    display: table-cell;
    width: 800px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#headings .spaces {
    display: table-cell;
    width: 15px;
    background-color: white;
}

#headings .non-active {
    cursor: pointer;
    border-bottom: 6px solid rgba(129, 129, 129, 0.623);
    border-top: 10px solid rgba(255, 255, 255);
}

#headings .non-active:hover {
    background-color: rgba(0, 0, 255, 0.37);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1),
    -2px -2px 20px rgba(255,255,255,0.4);
}