#states-heading {
    font-size: 100px;
    font-weight: 100;
    color: black;
}

#landingbg {
    z-index: -1;
}

#states-enter {
    /* float: center; */
    border-radius: 20px;
    margin-top: 50px;
    padding-left: 30px;
    /* padding-top: 10px; */
    display: inline-block;
    width: 600px;
    height: 70px;
    background-color: white;
    color: black;
    font-size: 40px;
    font-weight: 20;
    text-align: left;
    font-family: 'Fira Code';
    position: relative;
}

.movein {
    animation: movein 1.5s 1 forwards;
}
.bounce {
    animation: movein 1.5s 1 forwards, bounce 1s;
}

#add-state-div {
    /* display: block; */
    /* margin-right: 30px; */
    border-radius: 20px;
    margin-top: 100px;
    background-color: transparent;
    border: none;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

input[type="text"] {
    appearance: textfield;
    border: none;
    outline: none;
}

@keyframes bounce {
    50% {
        width: 580px;
        height: 60px;
    }
    100% {
        width: 600px;
        height: 70px;
    }
}

@keyframes movein {
    0% {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }
    50% {
        pointer-events: none;
    }
    100% {
        pointer-events: all;
        cursor: pointer;
        opacity: 1;
        transform: translate(0, -50px);
    }
}

#results-div {
    width: 100%;
    display: inline-block;
}

#results {
    width: 600px;
    margin-top: 10px;
    display: inline-table;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-radius: 15px; */
    z-index: 1;
}

.state-results {
    width: 800px;
    display: table-cell;
    width: 285px;
    height: 100px;
    background-color: var(--card-bg);
    position: relative;
}

.state-svgs {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    /* margin-right: 0px; */
    left: 150px;
}

.state-texts {
    display: inline;
    float: right;
    margin-right: 180px;
    margin-top: 10px;
    width: 100px;
    font-size: 60px;
    font-weight: 60;
    text-emphasis: none;
}

#graph-container {
    width: 100%;
}

#headings-container {
    background-color: var(--card-bg);
    width: 1000px;
    height: 150px;
    display: inline-block;
    margin-top: 100px;
    /* border-bottom: 10px solid white; */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#chance-container {
    width: 497.5px;
    display: inline-block;
    background-color: var(--card-bg);
    border-top-left-radius: 15px;
    border-bottom: 5px solid transparent;
}

#pv-container {
    width: 497.5px;
    display: inline-block;
    background-color: var(--card-bg);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

#chance {
    display: inline-block;
    background-color: var(--dem-bg);
    border-radius: 10px;
    font-size: 30px;
    font-family: "Fira Code";
    float: left;
    width: 420px;
    height: 75px;
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 55px;
}

#pv {
    display: inline-block;
    background-color: var(--rep-bg);
    border-radius: 10px;
    font-size: 30px;
    font-family: "Fira Code";
    float: right;
    width: 420px;
    height: 75px;
    margin-top: 25px;
    margin-right: 35px;
    margin-bottom: 25px;
    padding-top: 20px;
    padding-bottom: 55px;
}

#state-win-chance-chart {
    background-color: var(--card-bg);
}

#state-chart-container {
    background-color: var(--card-bg);
    display: inline-block;
    width: 1000px;
    margin-top: -5px;
    padding-top: 20px;
    margin-bottom: 150px;
}
