:root {
    --card-bg: rgb(33,36,58);
    --section-bg: rgba(255, 255, 255, 0.644);
    --rep-bg:rgb(255, 104, 104);
    --dem-bg:rgb(110, 144, 255);
    --main-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

    /* Halloween Colors */
    /* --rep-bg:rgb(255, 166, 0);
    --dem-bg:rgb(190, 123, 211); */

}